*{
    -fx-text-fill: #fff;
}

.root{
    -fx-background-color: #000000;
}

/* label styles */
.calculation-sequence-label{
    -fx-pref-width: 18em;
    -fx-alignment: center-right;
    -fx-font-size: 2em;
    -fx-padding: 0.15em;
    -fx-background-color: #ff0000;
}

.output-label{
    -fx-pref-width: 7.20em;
    -fx-alignment: center-right;
    -fx-font-size: 5em;
    -fx-background-color: #ff0000;
}

/* buttons styles */
.button{
    -fx-background-color: #ffff00;
}