*{
    -fx-text-fill: #fff;
}

.root{
    -fx-background-color: #000000;
}

/* label styles */
.calculation-sequence-label{
    -fx-pref-width: 18em;
    -fx-alignment: center-right;
    -fx-font-size: 2em;
    -fx-background-radius: 0.3em;
    -fx-padding: 0.15em;
    -fx-background-color: #ff0000;
}

.output-label{
    -fx-pref-width: 7.20em;
    -fx-alignment: center-right;
    -fx-font-size: 5em;
    -fx-background-radius: 0.15em;
    -fx-padding: 0.15em 0.15em 0 0;
    -fx-background-color: #ff0000;
}

/* buttons styles */
.button{
    -fx-min-width: 4.52em;
    -fx-min-height: 2.60em;
    -fx-font-size: 2em;
    -fx-background-radius: 0.30em;
    -fx-border-color: #000000FF;
}

.button:hover{
    -fx-opacity: 0.90;
}

.button.pressed{
    -fx-opacity: 0.5;
}